<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"> Ohrid With Locals is...</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a routerLink="/daily-tours">Day Trips</a></li>
          <li><a routerLink="/night-tours">Night tours</a></li>
          <li><a routerLink="/adventure-tours">Adventure trips</a></li>
          <li><a routerLink="/foodies">Foodies</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a>About Us</a></li>
          <li><a>Hosts</a></li>
          <li><a routerLink="/sitemap">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; OhridWithLocals 2019
          <a href="#"></a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="https://www.dribble.com" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
