  <h2>Tips & Tricks about this site</h2> <br>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">  
          <ul class="list-group list-group-flush">
            <li class="list-group-item">OhridWithLocals is service that provides easy to explore tours</li>
            <li class="list-group-item">Tours are limited maximum to 6 persons in order to have full experience</li>
            <li class="list-group-item">The cost of one reservation is low, because this is freelancing.</li>
          </ul>
        </div>
      </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">  
      <ul class="list-group list-group-flush">
        <li class="list-group-item">You need to be loggedIn in order to Reserve a tour</li>
        <li class="list-group-item">Only hosts can create tour</li>
        <li class="list-group-item">Hosts are people (locals) from the city of Ohrid</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">  
      <ul class="list-group list-group-flush">
        <li class="list-group-item">In All things to do you can see all tours and activites created by hosts</li>
        <li class="list-group-item">Easily Create Tour and Earn Money</li>
        <li class="list-group-item">There are 4 sections: daily, night, adventure and food tours</li>
      </ul>
    </div>
  </div>
</div>