<h1><b>Popular Destinations</b></h1>
<h4>Enjoy your city with the locals</h4>
<br>
<br>
<div class="row">
  <div class="card-group">
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card align-center" style="width: 31.5rem;">
          <img src="../../assets/images/popular/StNaumC.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">Monastery of St.Naum</h3>
            <p class="card-text">Explore the Monastery of Saint Naum complex</p>
            <a href="#" class="btn btn-secondary">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/old-town.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">Old town Ohrid</h3>
            <p class="card-text"> Different experiences with locals </p>
            <a href="#" class="btn btn-secondary">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/Bay-of-Bones.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">The Bay of Bones Museum</h3>
            <p class="card-text"> Most popular museum on water in Ohrid </p>
            <a href="#" class="btn btn-secondary">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/WalkingC.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">National park of Galicica</h3>
            <p class="card-text"> Mountain adventures </p>
            <a href="#" class="btn btn-secondary">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
