<h1><b>Popular Destinations</b></h1>
<h4>Enjoy your city with the locals</h4>
<br>
<br>
<div class="row">
  <div class="card-group">
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card align-center" style="width: 31.5rem;">
          <img src="../../assets/images/popular/StNaumC.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">Monastery of St.Naum</h3>
            <p class="card-text">Explore the Monastery of Saint Naum complex</p>
            <a
              href="https://mk.wikipedia.org/wiki/%D0%A1%D0%B2%D0%B5%D1%82%D0%B8_%D0%9D%D0%B0%D1%83%D0%BC_(%D0%BC%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80)"
              target="_blank" class="btn-gradient btn-2">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/old-town.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">Old town Ohrid</h3>
            <p class="card-text"> Different experiences with locals </p>
            <a href="https://en.wikipedia.org/wiki/Samuel%27s_Fortress,_Ohrid" target="_blank"
               class="btn-gradient btn-2">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/Bay-of-Bones.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">The Bay of Bones Museum</h3>
            <p class="card-text"> Most popular museum on water in Ohrid </p>
            <a href="http://muzejohrid.mk/en/museum-on-water" target="_blank" class="btn-gradient btn-2">Explore</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card" style="width: 31.5rem;">
          <img src="../../assets/images/popular/WalkingC.jpg" alt="Card one" class="card-img-top">
          <div class="card-body bg-ligh">
            <h3 class="card-title">National park of Galicica</h3>
            <p class="card-text"> Mountain adventures </p>
            <a
              href="https://mk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%86%D0%B8%D0%BE%D0%BD%D0%B0%D0%BB%D0%B5%D0%BD_%D0%BF%D0%B0%D1%80%D0%BA_%D0%93%D0%B0%D0%BB%D0%B8%D1%87%D0%B8%D1%86%D0%B0"
              target="_blank" class="btn-gradient btn-2">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
