<div class="container" style="padding-top: 75px">
  <h1><b>Adventure Trips</b></h1>
  <br>
  <br>
  <div class="card-deck" align="center">
    <ng-container *ngFor="let tour of tours; let i = index" [attr.data-index]="i">
      <div class="col-md-4">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img [src]="tour.url" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center">{{i+1}} | {{tour.title}} </h4>
              <h6 class="align-center">Host: {{filterHost(tour.hostId)?.name}} </h6>
              <h6 class="align-center">Reserved: {{filterReservations(tour.key)}} / {{tour.maxPeople}}</h6>

              <p class="card-text"><button class="btn-gradient btn-1" data-toggle="modal"
                                           (click)="checkReservation(tour.key)"
                                           [attr.data-target]="'#MyModal'+tour.key">View more details</button></p>
              <ng-container *ngIf="!host">
                <ng-container *ngIf="authService.isLoggedIn">
                  <ng-container *ngIf="tour.hostId === userService.loggedInUser.key">
                    <p class="card-text"><button class="btn-gradient btn-2" data-toggle="modal"
                                                 (click)="viewReservations(tour.key)"
                                                 [attr.data-target]="'#Reservations'+tour.key">View Reservatons</button></p>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" [attr.id]="'MyModal'+tour.key" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading">{{tour.title}}</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">

              <div class="row">
                <div class="col-5">
                  <img [src]="tour.url"
                       class="img-fluid" alt="">
                </div>

                <div class="col-7" style="text-align: left">
                  <p><i class="fa fa-address-card"></i><strong> {{filterHost(tour.hostId)?.name}}
                    {{filterHost(tour.hostId)?.surname}}</strong></p>
                  <p><i class="fa fa-calendar"></i> {{tour.date}}</p>
                  <p><i class="fa fa-clock-o"></i> {{tour.time}}</p>
                  <p><i class="fa fa-hourglass-end"></i> {{tour.duration}} min</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-gradient btn-1" data-dismiss="modal">Close</button>
              <ng-container *ngIf="host">
                <ng-container *ngIf="reservationButton">
                  <button class="btn-gradient btn-2" *ngIf="filterReservations(tour.key) !== +tour.maxPeople"
                          data-dismiss="modal"
                          (click)="reserve(tour.key)">
                    Reserve
                  </button>
                  <ng-container *ngIf="filterReservations(tour.key) === +tour.maxPeople">
                    <h3><span class="btn-gradient btn-2">Already Reserved</span></h3>
                  </ng-container>
                </ng-container>
                <button class="btn-gradient btn-2" *ngIf="!reservationButton" data-dismiss="modal"
                        (click)="deleteReservation(tour.key)">
                  Cancel Reservation
                </button>
              </ng-container>
            </div>
          </div>
          <!--/.Content-->
        </div>

      </div>
      <div class="modal fade" [attr.id]="'Reservations'+tour.key" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{tour.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <ng-container *ngFor="let objs of filteredUsers">
                    <ng-container *ngFor="let user of objs">
                      <ng-container *ngIf="user">
                        <li class="list-group-item">
                          User: {{user.name}}
                          <br>
                          Contact Number: {{user.phoneNum}}
                        </li>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn-gradient btn-1" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
