<div class="container">
  <h1 class="title"><b> Top 5 places for foodies</b></h1>
  <br> <br>
  <div class="card-deck">
    <div class="col-md-4">
      <a href="https://www.facebook.com/Cosanostrapizzaohrid/" target="_blank">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img src="../../../assets/images/food/pizzacs.jpg" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center"><b>1|</b> Cosa Nostra Pizzeria</h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://kaneorestaurant.com/" target="_blank">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img src="../../../assets/images/food/kaneo (1).jpg" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center"><b>2|</b> Kaneo Letna Bavcha & Resaturant</h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.facebook.com/simpleburgers/?ref=page_internal" target="_blank">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img src="../../../assets/images/food/6-1.jpg" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center"><b>3|</b> Simple - Fast food </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.kajmestono.com/mk/" target="_blank">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img src="../../../assets/images/food/kajmestono.jfif" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center"><b>4|</b> Kaj Mestono </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="https://www.facebook.com/villaminami/" target="_blank">
        <div class="shadow-lg p-3 mb-5 bg-white rounded-top">
          <div class="card1" style="width: 20rem;">
            <img src="../../../assets/images/food/minami.jfif" class="card-img-top" alt="..." fix>
            <div class="card-body bg-light">
              <h4 class="align-center"><b>5|</b> Minami - Konjsko </h4>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
