<div class="container">
  <h1><b>Explore Ohrid With Locals</b></h1>
  <h4>All of our tours and activities are: • Private • Personalized • With the local of your choice</h4>
  <br><br>
  <div class="card-group">
    <div class="col-md-3" (click)="navigateToPage('daily-tours')">
      <div class="card shadow">
        <div class="inner">
          <img src="../../../assets/images/types/Ohrid-coast.jpg" class="card-img-top" alt="..." fix>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title">Day trips</h5>
          <!--<p class="card-text">Walking and exploring Ohrid with your favourite locals</p>-->
        </div>
      </div>
    </div>

    <div class="col-md-3" (click)="navigateToPage('night-tours')">
      <div class="card shadow">
        <div class="inner">
          <img src="../../../assets/images/types/nightohrid.jpg" class="card-img-top" alt="..." fix>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title">Night tours</h5>
          <!--<p class="card-text">Ohrid the city of light</p>-->
        </div>
      </div>
    </div>
    <div class="col-md-3" (click)="navigateToPage('adventure-tours')">
      <div class="card shadow">
        <div class="inner">
          <img src="../../../assets/images/types/biking.jpg" class="card-img-top" alt="..." fix>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title">Adventure trips</h5>
          <!--<p class="card-text">Different adrenaline experiences with local of your choice</p> -->

        </div>
      </div>
    </div>
    <div class="col-md-3" (click)="navigateToPage('foodies')">
      <div class="card shadow">
        <div class="inner">
          <img src="../../../assets/images/types/food1.jpg" class="card-img-top" alt="..." fix>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title">Foodies</h5>
          <!--<p class="card-text">Tasting different foods in town</p> -->
        </div>
      </div>
    </div>
  </div>

</div>
