<form novalidate [formGroup]="tourForm">
  <br><br><br>

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
    <label for="place">Place</label>
    <input type="text" class="form-control" id="place" formControlName="place" value="{{user.loggedInUser.place}}"
           placeholder="Enter place of planned walk tour. ">
    <label for="time">Time</label>
    <input type="text" class="form-control" id="time" formControlName="time" placeholder="Enter time of start">
    <label for="duration">Duration in minutes</label>
    <input type="text" class="form-control" id="duration" formControlName="duration" placeholder="Enter duration">
    <label class="date-label">Date Of Happening</label>
    <input class="date-input" formControlName="date" type="date">
    {{tourForm.value.date}}
    <div class="form-check">
      <input class="form-check-input" id="adventure" type="radio"  name="typeOfTour" value="adventure" formControlName="typeOfTour">
      <label class="form-check-label" for="adventure">
        Adventure Trips
      </label><br>
      <input class="form-check-input" id="night" type="radio"  name="typeOfTour" value="night" formControlName="typeOfTour">
      <label class="form-check-label" for="night">
        Night Tour
      </label><br>
      <input class="form-check-input" id="food" type="radio"  name="typeOfTour" value="food" formControlName="typeOfTour">
      <label class="form-check-label" for="food">
        Foodies
      </label><br>
      <input class="form-check-input" id="day" type="radio" name="typeOfTour" value="day" formControlName="typeOfTour">
      <label class="form-check-label" for="day">
        Day Trips
      </label><br>

    </div>
    <!-- Select File -->
    <br>
    <div>
      <label>Choose or drag a file:</label><br>
      <input type="file" (change)="detectFIles($event)">
    </div>
    <div *ngIf="currentUpload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{'width': currentUpload?.progress + '%'}">
        </div>
      </div>

    </div>

  </div>

  <button type="submit" class="btn btn-primary" (click)="createTour()">Submit</button>
</form>

